{% extends "base.html" %} {% block styles %}
<link href="/search_list.css" rel="stylesheet" />
{% endblock %} {% block page_content %}
<div class="paper">
    <form class="search-form" action="/action/search/add" method="post">
        <label>学生：</label>
        <select name="stu_sn">
            <option value="">--选择--</option>
            {% for stu in students %}
            <option value="{{stu.stu_sn}}">
                {{stu.stu_name}}({{stu.stu_sn}})
            </option>
            {% endfor %}
        </select>

        <label>学期：</label>
        <select name="term">
            <option value="">--选择--</option>
            {% for item in terms %}
            <option value="{{item.terms}}">
                {{item.terms}}
            </option>
            {% endfor %}
        </select>

        <label>课程：</label>
        <select name="cou_sn">
            <option value="">--选择--</option>
            {% for item in courses %}
            <option value="{{item.cou_sn}}">
                {{item.cou_name}}({{item.cou_sn}})
            </option>
            {% endfor %}
        </select>

        <input type="submit" value="查询成绩" />
    </form>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>姓名</th>
                <th>学期</th>
                <th>课程</th>
                <th>成绩</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.stu_name }}</td>
                <td>{{ item.teem }}</td>
                <td>{{ item.cou_name }}</td>
                <td>{{ item.grade }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}